body{
 background-color: #64a6eb;
}
h1{
  color: #4b0e0c
}
input{
    border-radius: 5px;
}
.FIO{
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    height: min-content;

    background-color: #bd183a;
}
.fio_nam {
    background-color: aqua;
}
.field{
    text-align: right;
}
.field2{
    text-align: left;
}