body{
  background-color: #cde0ee;
}
h1{
 color: #bd183a
}
img{
  border-radius: 20px;
}
a{
  text-decoration: none;
  color: #401996
}
.back{
  margin-right: 15%;
}
div{

}
.autobots{
  margin: auto;
  width: 50%;
}
