<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <link rel="stylesheet" href="static/css/master2.css">
    <meta charset="utf-8">
    <title>Работа с формами</title>
  </head>
  <body>
    <h1 align = "center"><u>Работа с формами</u></h1>
    <br>
    <h2 align="center"><u>Страница регистраци</u></h2>
    <hr width = "20%">
    <hr width = "10%">
      <div class="FIO">
          <form>
          <div class="fio_nam">
              <div class = "field"><p class="reg_item"><strong>Фамилия:</strong><input maxlength="20" type="text" name="name" value="1"></p></div>
              <div class = "field"><p class="reg_item"><strong>Имя:</strong><input maxlength="15" type="text" name="firstname" value="2"> </p></div>
              <div class = "field"><p class="reg_item"><strong>Отчество:</strong><input type="text" name="lastname" value=""3></p></div>
          </div>
          </form>
       </div>
  </body>
</html>


