<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <link rel="stylesheet" href="/css/master2.css">
    <meta charset="utf-8">
    <title>Работа с гиперссылками</title>
</head>
<body>
<link rel="stylesheet" href="static/css/master.css">
<h1 align="center"><u><a name="start"></a>Работа с гиперссылками {{ name }}</u></h1>
<h4 align="center"><a href="#autobots">Autobots</a> |
    <a href="#decepticons">Decepticons</a> |
    <a href="#linux">Linux One Love</a> |
    <a href="#lurk">Луркморье</a> |
    <a href="#kbtr">Кибертрон</a><br/>
    <br/><a href="#end">В конец</a></h4>

<h1 name="autobots" align="center"><a name="autobots"></a>Автоботы</h1>
<h2 align="center"><img align="center" name="autobots" src="static/source/atb.jpg" alt="No." usemap="#autobots"
                        username="#map1"></h2>
<div class="autobots">
    Автоботы — фракция трансформеров, как правило, оппозиционная к десептиконам.
    Название является сокращением от «автономные роботы». В большинстве вселенных лидером автоботов является Оптимус
    Прайм.

    <h4 align="right"><a class="back" href="#start">В начало</a></h4>
</div>

<h1 name="decepticons" align="center"><a name="decepticons"></a>Десептиконы</h1>
<h2 align="center"><img align="center" name="decepticons" src="static/source/decp.jpe" width="200" height="300"
                        alt="No."></h2>
<div class="autobots">
    Десептиконы — фракция трансформеров, оппозиционная к автоботам. Главной целью десептиконов являлся
    полный контроль над Кибертроном, а в перспективе — и над всей вселенной.
    Лидером десептиконов являлся Мегатрон, а позднее Гальватрон. Эмблемой фракции является стилизованное изображение
    лисьей головы.
    <h4 align="right"><a class="back" href="#start">В начало</a></h4>
</div>

<h1 name="autobots" align="center"><a name="linux"></a>Linux</h1>
<h2 align="center"><img align="center" name="autobots" height="300" width="250" src="static/source/linux.jpg"
                        alt="No."></h2>
<div class="autobots">
    Ли́нукс (Linux, Линакс, Линекс, Люнекс, Линупс, Лялех, Прыщеблядикс) — операционная система GNU/Linux.
    Состоит из ядра Linux и пользовательского окружения GNU
    (это набор небольших программ типа rm или man, которые позволяют пользователю взаимодействовать с ядром),
    которое выносится на первое место. Обе эти части могут быть заменены на альтернативы, но гнулинупсом это называть
    будет уже не совсем правильно. Впрочем, это уже совсем другая история.
    <h4 align="right"><a class="back" href="#start">В начало</a></h4>
</div>


<h1 name="autobots" align="center"><a name="lurk"></a>Луркоморье</h1></h1>
<h2 align="center"><img align="center" name="kibertron" width="250" height="250 " src="static/source/lurk.png"
                        alt="No."></h2>
<div class="autobots">
    Луркоморье, оно же Lurkmore — русскоязычная энциклопедия фольклора и субкультур.
    Служит справочником по понятиям и терминологии русской культурной жизни во всех ее проявлениях.

    <h4 align="right"><a class="back" href="#start">В начало</a></h4>
</div>

<h1 name="autobots" align="center"><a name="kbtr"></a>Кибертрон</h1>
<h2 align="center"><img align="center" width="350" height="300" name="autobots" src="static/source/kbtr.jpe"
                        alt="No."></h2>
<div class="autobots">
    Кибертрон (англ. Cybertron) — механическая планета в системе Альфы Центавра; иногда изображается как блуждающая
    планета,
    покинувшая орбиту и свободно перемещающаяся по космосу (или же изначально не имевшая собственной звезды).
    Считается родиной трансформеров. В некоторых историях изображается как инкарнация Праймуса.

    <h4 align="right"><a name="end"></a><a class="back" href="#start">В начало</a></h4>
</div>

<map id="map1" name="autobots">
    <area shape="default" coords="1,1,1,1" href="https://transformers.fandom.com/ru/wiki/Автоботы" alt="">
</map>

<form method="post" action="">
    <p align="center">Name: <input type="text" name="name"><input type="submit"></p>

</form>
</body>
</html>
